@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    clip-path: ellipse(140% 85% at 50% 0);
}

@media (min-width: 768px) {
    .hero {
        clip-path: ellipse(100% 85% at 50% 0);
    }
}
@media (min-width: 1024px) {
    .hero {
        clip-path: ellipse(100% 85% at 50% 0);
    }
}

.features {
    clip-path: ellipse(200% 85% at 50% 0);
}

@media (min-width: 768px) {
    .features {
        clip-path: ellipse(150% 85% at 50% 0);
    }
}

@media (min-width: 1024px) {
    .features {
        clip-path: ellipse(100% 85% at 50% 0);
    }
}